<header>
  <div class="header-container"><!-- container -->
    <div class="logo"><!-- LOGO -->
      <a href=""><img src="/assets/img/shoptalk_logo.png" alt=""></a>
    </div>
    <div class="next-episode"><!-- Next & Fuso -->
      <p>Next episode: <time></time></p>
      <p><strong>With NAME</strong></p>
      <ul class="time-zone">
        <li><svg><use xlink:href="#icon-california" /></svg>9am</li>
        <li><svg><use xlink:href="#icon-texas" /></svg>11am</li>
        <li><svg><use xlink:href="#icon-newyork" /></svg>12pm</li>
        <li><svg><use xlink:href="#icon-uk" /></svg>5pm</li>
      </ul>
    </div>
  </div>
</header>
